{% extends "base.html" %}

<!--   <body>
    <h3>If you have an account, please log in:</h3>
    <form action="/login/" method="POST">
				Username: <input type="text" name="username"> <br>
				Password: <input type="password" name="password"> <br>
				<input type="submit" name="button" value="Login" action="/auth/">
			</form>

			<h3>If you want an account, please register:</h3>
			<form action="/register/" method="POST">

				Username: <input type="text" name="username"> <br>
				Password: <input type="password" name="password"> <br>
				Confirm password: <input type="password" name="confirm_password"> <br>
				<input type="submit" name="button" value="Register" action="/auth/">
			</form>
      
    <br> -->




{% block content %}



	    <div class="container">
	    <center>
       <h1 style="color: red;"> {{ message }} </h1>


	    <div style="color: white; max-width: 314px;" class="co-12">
			<h1 class="display-4">LOGIN:</h1>
			<p><i>If you have an account, please login:</i></p>
			<form action="/login/" method="POST">

				Username: <input class="form-control" type="text" name="username"> <br>
				Password:&thinsp; <input class="form-control" type="password" name="password"> <br>
				<input class="btn btn-success btn-block" type="submit" name="button" value="Login" action="/auth/">
			</form>
		</div>
		<br>
		<!--Register-->
		<div style="color: white;max-width:314px;" class="co-12">
			<h1 class="display-4">REGISTER:</h1>
			<p><i>If you want an account, please register:</i></p>
			<form action="/register/" method="POST">

				Username: <input class="form-control" type="text" name="username"> <br>
				Password: <input class="form-control" type="password" name="password"> <br>
				Confirm password: <input class="form-control" type="password" name="confirmPassword"> <br>
        Name: <input class="form-control" type="text" name="name"> <br>
        Grade: <input class="form-control" type="text" name="grade"> <br>

				<input class="btn btn-success btn-block" type="submit" name="button" value="Register" action="/auth/">
			</form>
		</div>
		</center>
		</div>

<script src="../static/js/validate.js"></script>		 

{% endblock %}
