{% extends "base.html" %}

 {% block css %}
<link href="../../static/css/bootstrap.min.css" rel="stylesheet">
<link href="../../static/css/style.css" rel="stylesheet">
<style type="text/css">

body {
text-align: center;
}

.content{
  padding-top:2vh;
}

</style>

{% endblock %}

{% block content %}

<div class="content">

    <h1>{{clubName}}</h1>
    <h5>{{clubDesc}}</h5>
    <br><br>

    <form action="/join/{{clubName}}/" method="POST">
      <input  type="submit" class="btn btn-success" name="join" value="Join Club">
    </form>
    <br><br>
    <h1>Attendance</h1>
    
    <div class="row">
    {% for person in members %}
      <div class="col-sm-4">{{person}}</div>
      <form action="/inc-attendance/{{clubName}}/{{person}}/" method="POST">
      <input  type="submit" class="btn btn-success" name="checkin" value="Check In">
      </form>
    {% endfor %}
    </div>
    
    <svg width="960" height="500"></svg>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    
    <script>
      
    </script>

    <br><br><br><br>
    <h1>Announcements</h1>
    <div class="w3-card">
      <p>Monday: May 12,2017 - Club meeting today!</p><br>
    </div>
</div>

</div>

{% endblock %}
