{% extends "base.html" %}

 {% block css %}
<link href="../../static/css/bootstrap.min.css" rel="stylesheet">
<link href="../../static/css/style.css" rel="stylesheet">
<style type="text/css">

body {
text-align: center;
}

.content{
  padding-top:2vh;
}

</style>

{% endblock %}

{% block content %}

<div class="content">

    <h1>{{clubName}}</h1>
    <h5>{{clubDesc}}</h5>
    <br><br><br><br>
    <h1>Attendance</h1>
    <br><br><br><br>
    <h1>Announcements</h1>
    <div class="w3-card">
      <p>Monday: May 12,2017 - Club meeting today!</p><br>
    </div>
</div>

</div>

{% endblock %}
