{% extends "base.html" %}

{% block css %}

<style type="text/css">

body {
text-align: center;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.content{
  padding-top:2vh;
}

input, select, textarea{
    color: #ff0000;
}

textarea:focus, input:focus {
    color: #ff0000;
}


</style>

{% endblock %}

{% block content %}

<div class="content">

    <h1>{{ message }}</h1>

    <p>If you would like to change your password, please enter your information 	below:</p>
    <form action="/settings/changePass" method="POST">
	Current password: <input type="password" name="currPass"> <br><br>
	New password: <input type="password" name="newPass"> <br><br.
	Confirm password: <input type="password" name="confirmPass"><br>
	<input type="submit" class="btn btn-success" name="changePass" value="Change Password">
    </form><br><br><br>

    <p>If you would like to change your name, please enter your information 	below:</p>
    <form action="/settings/changeName" method="POST">
	New name: <input type="text" name="newName"> <br><br>
	<input type="submit" class="btn btn-success"name="changeName" value="Change Name">
    </form><br><br>

    <p>If you would like to change your grade, please enter your information 	below:</p>
    <form action="/settings/changeGrade" method="POST">
	New grade: <input type="text" name="newGrade"> <br><br>
	<input type="submit" class="btn btn-success"name="changeGrade" value="Change Grade">
    </form>
</div>

{% endblock %}
